* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

h1 {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.input {
  margin-block: 20px;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 500;
}

.add-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
  background-color: yellow;
  font-weight: 500;
  cursor: pointer;
}

.todos-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 550px;
  width: 100%;
}

.todo-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: yellow;
  border-radius: 4px;
}

.todo-wrapper > p {
  padding: 10px;
  background-color: rgb(255, 115, 65);
  border-radius: 4px;
  flex: 1;
  font-weight: 600;
}

.btn-wrapper {
  display: flex;
  gap: 10px;
}

.btn-wrapper > button {
  padding: 4px 6px;
  border-radius: 4px;
  border: none;
  background-color: chartreuse;
  cursor: pointer;
}
