* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.image-container {
  width: 300px;
  height: 200px;
  object-fit: contain;
  display: flex;
  /* overflow: hidden; */
}

.image-container > img {
  width: 300px;
  display: none;
}

.image-container > img.active {
  display: block;
}

.dot-container {
  display: flex;
  gap: 6px;
  margin-top: -14px;
}

.dot-container > button {
  background-color: aqua;
  padding: 4px 8px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.dot-container > button.active {
  background-color: black;
}

.btn-container {
  display: flex;
  gap: 20px;
}

.btn-container > button {
  cursor: pointer;
}
