* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: grid;
  /* place-content used in whole grid */
  justify-content: center;
  align-content: center;

  /* place items used in grid elements */
  justify-items: center;
  align-items: center;
  gap: 16px;
}

.fa-star {
  font-size: 28px;
}

.active {
  color: rgb(239, 239, 8);
}
